.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

.sbar {
  padding: 8px;
  border-radius: 20px;
  width: 250px;
}

.sicon {
  position: relative;
  right: 40px;
  padding: 2px 5px;
  border: 1px solid #F0EEED;
  border-radius: 50%;
  background-color: #F0EEED;
}

.sicon:hover {
  cursor: pointer;
}